*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tgdd-header {
    background: #FFC801;
    position: sticky;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 16px;
    display: flex;
    gap: 16px;
    justify-content: space-between;

}

.header-search {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    padding: 8px 16px;
    border-radius: 999px;
}

.header-location {
    flex: 0.7;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #ffe14d;
    padding: 8px 12px;
    border-radius: 999px;
}

.header-location:hover {
    background: #ffec80;
    border-color: #e6b800;
}

.header-login,
.header-cart {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.2s;
}
.header-login:hover,
.header-cart:hover {
    background: #ffe14d;
    border-color: #f0c400;
}

.header-logo img {
    height: 50px;
    width: 280px;
}

.header-bottom ul {
    max-width: 1320px;
    margin: 0 auto;
    padding: 6px 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.tgdd-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px 16px;
}

.sale-tet img {
    width:100%;
}

.sale-tet {
    position: relative;
}

.sale-tet span {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #ccc8c8;
    border-radius: 50%;
    padding: 4px 8px;
    cursor: pointer;
}

.product-promotion {
    padding: 20px 16px;
}

.product-promotion h2 {
    color: white;
}

.product-promotion ul {
    padding: 30px 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 20px 20px  0 0;
}

.product-promotion a {
    color: black;
    text-decoration: none;
}

.product-grid {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    position: relative;
}

.product-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-image {
    display:flex;
    justify-content: center;
}

.product-price {
    color: red;
}

.product-old-price {
    color: grey;
}


.product-discount {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
}
